<!DOCTYPE html>
<html>
<head>
	<title>Japanese Learning</title>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/account.css">
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<nav>
			<a id="HomeButton" href="/">Japanese Learning</a>
			<a href="/practice">Practice</a>
			<a href="/calendar">Calendar</a>
			<a href="/account">Account</a>
		</nav>
	</header>
	<div class="errorMessage">
		<% if (errorMessage) { %>
			<div>
				<strong><%= errorMessage %></strong>
				<button type="button"></button>
			</div>
		<% } %>
	</div>
	<main>
		<form class="containerBox" name="signin" action="/account/signIn" method="post" autocomplete="off">
			<label for="signin_username">Username:</label> 
			<input name="username" id="signin_username" class="inputBar"><br>
			<label for="signin_password">Password:</label>
			<input type="password" name="password" id="signin_password" class="inputBar"><br><br>
			<input type="submit" value="Sign in" class="redButton">
		</form>
		<form class="containerBox" name="signup" action="/account/signUp" method="post" autocomplete="off">
			<label for="email">Email:</label> 
			<input name="email" id="email" class="inputBar" type="email"><br>
			<label for="signup_username">Username:</label> 
			<input name="username" id="signup_username" class="inputBar"><br>
			<label for="signup_password">Password:</label>
			<input type="password" name="password" id="signup_password" class="inputBar"><br><br>
			<input type="submit" value="Sign up" class="redButton">
		</form>
	</main>
</body>
</html>