<!DOCTYPE html>
<html>
<head>
	<title>Japanese Learning</title>
	<link rel="stylesheet" href="css/base.css">
	<link rel="stylesheet" href="css/account.css">
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<nav>
			<a id="HomeButton" href="/">Japanese Learning</a>
			<a href="practice">Practice</a>
			<a href="calendar">Calendar</a>
			<a href="account">Account</a>
		</nav>
	</header>
	<main>
		<form class="containerBox" name="signin" action="/auth/signIn" method="post" autocomplete="off">
			<label for="username">Username:</label> 
			<input name="username" id="username" class="inputBar"><br>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" class="inputBar"><br><br>
			<input type="submit" value="Sign in" class="redButton">
		</form>
		<form class="containerBox" name="signup" action="/auth/signUp" method="post" autocomplete="off">
			<label for="username">Username:</label> 
			<input name="username" id="username" class="inputBar"><br>
			<label for="password">Password:</label>
			<input type="password" name="password" id="password" class="inputBar"><br><br>
			<input type="submit" value="Sign up" class="redButton">
		</form>
	</main>
</body>
</html>