<!DOCTYPE html>
<html>
<head>
	<title>Japanese Learning</title>
	<link rel="stylesheet" href="../css/base.css">
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<nav>
			<a id="HomeButton" href="/">Japanese Learning</a>
			<a href="practice">Practice</a>
			<a href="calendar">Calendar</a>
			<a href="account">Account</a>
		</nav>
	</header>
	<main>

	</main>
</body>
</html>