<script defer src="/socket.io/socket.io.js"></script>
<script defer async src="/javaScript/roomChat.js"></script>

<div class="containerBox">
  <div id="message-container"></div>
  <form id="send-container">
    <input type="text" id="message-input">
    <button type="button" id="send-button">Send</button>
  </form>
</div>