<!DOCTYPE html>
<html>
	<head>
		<title>Japanese Learning</title>
		<link rel="stylesheet" href="/css/base.css">
		<link rel="stylesheet" href="/css/account.css">
		<meta charset="UTF-8">
	</head>
	<body>
		<header>
			<nav>
				<a id="HomeButton" href="/">Japanese Learning</a>
				<a href="/practice">Practice</a>
				<a href="/calendar">Calendar</a>
				<a href="/account">Account</a>
			</nav>
		</header>
		<main>
			<div id="profileContainer" class="mainContainer">
				<div class="containerBox">
					<h1>Hello <%= username %>
					</h1>
					<button class="redButton" id="signOutBtn">Sign out</button>
				</div>
			</div>
			<div class="mainContainer">
				<div class="containerBox">
					<img id="profileImg"> <label id="upprogress"></label> <br> <br>
					<button id="selbtn" class="redButton">Upload profile picture</button>
					<button id="upbtn" class="redButton center">Confirm</button>
				</div>
				<div class="containerBox">
					<button id="friendButton" class="redButton">Friends</button>
					<button id="chatButton" class="redButton">Chat</button>
				</div>
			</div>
		</main>
		<script type="module" src="javaScript/profile.js"></script>
	</body>
</html>