<!DOCTYPE html>
<html>
<head>
	<title>Japanese Learning</title>
	<link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/userCalendar.css">
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<nav>
			<a id="HomeButton" href="/">Japanese Learning</a>
			<a href="practice">Practice</a>
			<a href="calendar">Calendar</a>
			<a href="account">Account</a>
		</nav>
	</header>
	<main>
		<div id="calendarContainer">
			<div class="dayBox containerBox">Day 1</div>
            <div class="dayBox containerBox">Day 2</div>
            <div class="dayBox containerBox">Day 3</div>
            <div class="dayBox containerBox">Day 4</div>
            <div class="dayBox containerBox">Day 5</div>
            <div class="dayBox containerBox">Day 6</div>
            <div class="dayBox containerBox">Day 7</div>
		</div>
	</main>
</body>
</html>