/*
    Css used on the practice page only.
*/

#practiceContainer {
    flex-wrap: wrap;
}

.optionBox {
    flex: 0 1 auto;
    margin-bottom: 15px;
}

#practiceBox {
    display: inline-block;
}

#problemDisplay {
    font-size: 50px;
    white-space: nowrap;
    margin: 10px;
}

#drawnDisplay {
    font-size : 25px;
}

#answerDisplay {
    font-size: 30px;
}

#canvasDisplay {
    border:3px solid #BC002D;
    height: 206px;
    width: 206px;
	margin: auto;
    margin-bottom: 20px;
}