/*
    Css used on the practice page only.
*/

#practiceContainer {
    flex-wrap: wrap;
}

.optionBox {
    flex: 0 1 auto;
    margin-bottom: 15px;
}

#practiceBox {
    display: inline-block;
}

#problemDisplay {
    font-size: 50px;
    white-space: nowrap;
    margin: 10px;
}

#answerDisplay {
    font-size: 30px;
}