<!DOCTYPE html>
<html>

<head>
  <title>Problems</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link href="css/style-home.css" rel="stylesheet">
  <link rel="shortcut icon" type="image/x-icon" href="images/G.png" />
</head>

<body>
  <div id="wrapper">

    <header>
      <div class="container">
        <div class="logo col-md-5 col-sm-5 col-xs-8">
          <a href=".."><img src="images/Globo-Logo-white.svg" alt="logo" /></a><span class="text">MANIACALLY
            TAKING TECH TO THE GLOBE</span>
        </div>
        <div class="mobile-togle col-md-12 col-sm-12 col-xs-12">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" id="hamburger" class="navbar-toggle x collapsed" data-toggle="collapse"
                data-target="#navbar-collapse-x">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#top"></a>
            </div>

            <div class="collapse navbar-collapse" id="navbar-collapse-x">
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <div class="search1">
                    <button type="submit"><i class="fa fa-search"></i></button> <input type="text" class="form-control"
                      placeholder="Search">
                  </div>
                </li>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="kana">KANA Practice<span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="calender">Calender</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link disabled" href="chatroom">Chat Room</a>
                  </li>
                </ul>
              </ul>
            </div><!-- .navbar-collapse -->
          </nav>
        </div>

        <div class="right_section col-md-5 col-xs-12">
          <div class="search">
            <button type="submit"><i class="fa fa-search"></i></button> <input type="text" class="form-control"
              placeholder="Search">
          </div>



          <nav class="navbar navbar-expand-lg navbar-light bg-light">



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="kana">KANA Practice<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="calender">Calender</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" href="chatroom">Chat Room</a>
                </li>

              </ul>

            </div>

          </nav>
        </div>

        <div class="sign-in col-md-2">
          <span class="dvider"></span>
          <div class="sign">
            <a hrf="#"><img class="sign-in-img" src="images/avatar.svg" alt="sign-in">
              Sign-in</a>

          </div>

        </div>

      </div>
    </header>

    <section class="sec_include">
      <div class="container">
        <br><br><br><br><br>
        <div style="text-align:center">
          
          <font size = +5, id="hiragana"></font>
          <script>
            let counter = 0;
            let correct = 0;
            let wrong = 0;
            let wrong_list = [];
          </script>
          
          <br><br><br>
          <input type="text" onkeydown="check(this)", id="textbar">
          <p id="correctness">LET'S GO!</p> 
          <br><br>
          
        </div>
        <br>
      </div>
    </section>


    








  </div>
  <!---------- End of Wrapper ----------->



  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  
  <script>
  
  function shuffle(array) {
  let currentIndex = array.length,  randomIndex;

  // While there remain elements to shuffle...
  while (currentIndex != 0) {

    // Pick a remaining element...
    randomIndex = Math.floor(Math.random() * currentIndex);
    currentIndex--;

    // And swap it with the current element.
    [array[currentIndex], array[randomIndex]] = [
      array[randomIndex], array[currentIndex]];
  }

  return array;
}
  let hira = [
    {
        "character": "あ",
        "romaji": "a"
    },
    {
        "character": "い",
        "romaji": "i"
    },
    {
        "character": "う",
        "romaji": "u"
    },
    {
        "character": "え",
        "romaji": "e"
    },
    {
        "character": "お",
        "romaji": "o"
    },
    {
        "character": "か",
        "romaji": "ka"
    },
    {
        "character": "き",
        "romaji": "ki"
    },
    {
        "character": "く",
        "romaji": "ku"
    },
    {
        "character": "け",
        "romaji": "ke"
    },
    {
        "character": "こ",
        "romaji": "ko"
    },
    {
        "character": "さ",
        "romaji": "sa"
    },
    {
        "character": "し",
        "romaji": "shi"
    },
    {
        "character": "す",
        "romaji": "su"
    },
    {
        "character": "せ",
        "romaji": "se"
    },
    {
        "character": "そ",
        "romaji": "so"
    },
    {
        "character": "た",
        "romaji": "ta"
    },
    {
        "character": "ち",
        "romaji": "chi"
    },
    {
        "character": "つ",
        "romaji": "tsu"
    },
    {
        "character": "て",
        "romaji": "te"
    },
    {
        "character": "と",
        "romaji": "to"
    },
    {
        "character": "な",
        "romaji": "na"
    },
    {
        "character": "に",
        "romaji": "ni"
    },
    {
        "character": "ぬ",
        "romaji": "nu"
    },
    {
        "character": "ね",
        "romaji": "ne"
    },
    {
        "character": "の",
        "romaji": "no"
    },
    {
        "character": "は",
        "romaji": "ha"
    },
    {
        "character": "ひ",
        "romaji": "hi"
    },
    {
        "character": "ふ",
        "romaji": "fu"
    },
    {
        "character": "へ",
        "romaji": "he"
    },
    {
        "character": "ほ",
        "romaji": "ho"
    },
    {
        "character": "ま",
        "romaji": "ma"
    },
    {
        "character": "み",
        "romaji": "mi"
    },
    {
        "character": "む",
        "romaji": "mu"
    },
    {
        "character": "め",
        "romaji": "me"
    },
    {
        "character": "も",
        "romaji": "mo"
    },
    {
        "character": "や",
        "romaji": "ya"
    },
    {
        "character": "ゆ",
        "romaji": "yu"
    },
    {
        "character": "よ",
        "romaji": "yo"
    },
    {
        "character": "ら",
        "romaji": "ra"
    },
    {
        "character": "り",
        "romaji": "ri"
    },
    {
        "character": "る",
        "romaji": "ru"
    },
    {
        "character": "れ",
        "romaji": "re"
    },
    {
        "character": "ろ",
        "romaji": "ro"
    },
    {
        "character": "わ",
        "romaji": "wa"
    },
    {
        "character": "を",
        "romaji": "wo"
    },
    {
        "character": "ん",
        "romaji": "n"
    }
    
];
  
hira = shuffle(hira);
document.getElementById("hiragana").innerHTML = hira[0].character;
    function check(input, array){
      
      if(event.key === 'Enter'){
        if(input.value == hira[counter].romaji){
            document.getElementById("correctness").innerHTML = "Correct!";
            correct += 1;
        } else {
            document.getElementById("correctness").innerHTML = "WRONG! it's "+hira[counter].romaji;
            wrong += 1;
            wrong_list.push(hira[counter]);
        }
        if(counter == hira.length - 1 && wrong_list.length > 0){
          alert("You got " + correct + " out of "+ hira.length +" right!");
          document.getElementById("correctness").innerHTML = "";
          hira = shuffle(wrong_list);
          wrong_list = [];
          counter = -1;
          correct = 0;
          wrong = 0;
        }
        if(counter == hira.length - 1 && wrong_list.length == 0){
          document.getElementById("hiragana").innerHTML = "Congratulations on finishing your daily KANA practice!";
        }
        counter += 1;
        document.getElementById("hiragana").innerHTML = hira[counter].character;
        document.getElementById("textbar").value = null;
      }
    }

</script>

</body>

</html>